.aboutuspg{
    background-image: url('@/assets/aboutUSbg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.portLines{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.rotate{
    transform: rotate(142deg);
    overflow: hidden;
    z-index: 1;
}
.ctaabout {
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
}

.ctaabout:hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease-in-out;
}
#forz{
    z-index: 10;
}
.lineBefore{
    height: 5px;
    width: 25px;
    margin-right: 10px;
    background-color: #e40246;
    border-radius: 10px;
}

/*SOCIAL MEDIA FOLLOW LINKS STYLING*/
.followCtc{
    background-color:#1f1646; 
    border-radius: 50%; 
    padding: 5px 10px; 
    color: aliceblue;
}
.followCtc:hover{
    background-color: #f44336;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.507);
}

/*Pointer Color*/
.marker-color::before {
    content: "\25BA";
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
    color: #e40246;
}